# pd.series

In [2]:
import pandas as pd

In [5]:
data=['mango','orange','apple','guava']
var=pd.Series(data)
var

0     mango
1    orange
2     apple
3     guava
dtype: object

In [12]:
data=[23,2,1,4,5]
var=pd.Series(data,dtype=float, name="cost")
var

0    23.0
1     2.0
2     1.0
3     4.0
4     5.0
Name: cost, dtype: float64

In [7]:
data=['mango','orange','apple','guava']
var=pd.Series(data,index=['a','b','c','d'],name='fruits')
var

a     mango
b    orange
c     apple
d     guava
Name: fruits, dtype: object

In [8]:
print(var[3],"  ",var['c'])

guava    apple

C:\Users\hp\AppData\Local\Temp\ipykernel_7184\534829519.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[3],"  ",var['c'])

In [15]:
dic={"name":['luke','mike','jhon','gabriel'],"percentage":[96,98,91,95],"rank":[2,1,4,3]}
var=pd.Series(dic)
print(var)

name          [luke, mike, jhon, gabriel]
percentage               [96, 98, 91, 95]
rank                         [2, 1, 4, 3]
dtype: object

In [19]:
d1=[0,2,4,2,12]
d2=[10,21,42,21,12,2,13]
var1=pd.Series(d1,name="d1")
var2=pd.Series(d2,name="d2")
var1+var2

0     0
1     2
2     4
3     2
4    12
Name: d1, dtype: int64

0    10.0
1    23.0
2    46.0
3    23.0
4    24.0
5     NaN
6     NaN
dtype: float64