# data frames pd.Dataframe

In [2]:
import pandas as pd

In [3]:
l1=[[25,50,75,100],[7,14,21,28],[15,30,45,75],[6,12,18,24]]
var1=pd.DataFrame(l1)
var1

    0   1   2    3
0  25  50  75  100
1   7  14  21   28
2  15  30  45   75
3   6  12  18   24

In [4]:
#using pd.series
dic={"name":pd.Series(["luke","mike","nina","jin"]),"percentage":[99,85,83,77],"rank":[1,2,3,4]}
frame=pd.DataFrame(dic)
frame

   name  percentage  rank
0  luke          99     1
1  mike          85     2
2  nina          83     3
3   jin          77     4

In [6]:
#using simple key value pair dict
dic={"fruits":['mango','orrange','guava','pineapple'],"price":[100,120,90,30],"offer":['20% 0ff','10% 0ff','20% 0ff','60% 0ff']}
frame1=pd.DataFrame(dic)
frame1

      fruits  price    offer
0      mango    100  20% 0ff
1    orrange    120  10% 0ff
2      guava     90  20% 0ff
3  pineapple     30  60% 0ff

In [14]:
print(frame1['fruits'][2])
print(frame1['price'][2])
print(frame1['offer'][2])

guava
90
0

In [18]:
k=frame1['fruits']
for i in k:
    print(i)

mango
orrange
guava
pineapple